<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"   
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soft.web.dao.user.UserMapper">
	
	<select id="queryUser" resultType="java.util.Map">
		select
			t.user_id,
			t.user_name,
			t.password,
			t.real_name,
			t.mobile,
			t.invite_id,
			t.status
		from
			sys_user t
		where
			1=1
		<if test="user_id != null">
			and t.user_id = #{user_id}
		</if>
		<if test="user_name != null and user_name != ''">
			and t.user_name = #{user_name}
		</if>
		<if test="mobile != null and mobile != ''">
			or t.mobile = #{mobile}
		</if>
	</select>
	<insert id="save">
		insert into sys_user(user_name, password, real_name, mobile, invite_id, status, create_date)
		values(#{user_name}, #{password}, #{real_name}, #{mobile}, #{invite_id}, 2, current_timestamp)
	</insert>
</mapper>