<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
 <link rel="stylesheet" href="css/bootstrap.css" /> 
  <link rel="stylesheet" href="css/detailed.css" /> 
       <link href="css/home.css" rel="stylesheet">
       <script src="js/jquery-1.js"></script>
  <script src="js/jquery_002.js"></script>
  <script src="js/jquery.js"></script>
    <script src="js/com .js"></script>
    <script>
          $(document).ready(function () {

        $(".main_visual").hover(function () {
            $("#btn_prev,#btn_next").fadeIn()
        }, function () {
            $("#btn_prev,#btn_next").fadeOut()
        });

        $dragBln = false;

        $(".main_image").touchSlider({
            flexible: true,
            speed: 200,
            btn_prev: $("#btn_prev"),
            btn_next: $("#btn_next"),
            paging: $(".flicking_con a"),
            counter: function (e) {
                $(".flicking_con a").removeClass("on").eq(e.current - 1).addClass("on");
            }
        });

        $(".main_image").bind("mousedown", function () {
            $dragBln = false;
        });

        $(".main_image").bind("dragstart", function () {
            $dragBln = true;
        });

        $(".main_image a").click(function () {
            if ($dragBln) {
                return false;
            }
        });

        timer = setInterval(function () {
            $("#btn_next").click();
        }, 5000);

        $(".main_visual").hover(function () {
            clearInterval(timer);
        }, function () {
            timer = setInterval(function () {
                $("#btn_next").click();
            }, 5000);
        });

        $(".main_image").bind("touchstart", function () {
            clearInterval(timer);
        }).bind("touchend", function () {
            timer = setInterval(function () {
                $("#btn_next").click();
            }, 5000);
        });

    });

    </script>
 </head> 
 <body>  
  <header class="m_header   " id="J_header"> 
   <div class="m_header_bar J_header-bar"> 
    <div class="mhb_left"> 
     <a class="go_to_home" href="home.html"><i class="glyphicon glyphicon-home"></i></a> 
    </div> 
    <div class="mhb_center mhb_center_across"> 
     <h2 class="title">产品详情</h2> 
    </div> 
    <div class="mhb_right"> 
     <a class="account" href=""><i class="glyphicon glyphicon-user"></i></a> 
     <div class="navi J_header-navi-trigger">
      导航
     </div> 
    </div>
   </div> 
  </header> 
  <div class="index"> 
   <div class="product-detail" id="productDetail">
    <div class="topic_image" style="height:151px;"> 
     <div  class="banner-container"> 
      <div class="main_visual zero">
  <div class="flicking_con">
  <a class="on" href="#@">1</a>
  <a href="#@">2</a>
  <a href="#@">3</a>
  <a href="#@">4</a>
  </div>
  <div class="main_image">
    <ul>
      <li> <img src="img/1.jpg" width="100%"></li>
      <li> <img src="img/2.jpg" width="100%"></li>
      <li> <img src="img/3.jpg" width="100%"></li>
    </ul>
  </div>
<script>
$(".main_image img").each(function () {
	var ww = $(".main_image").width();
	var w = $(this).width();
	var ml = Math.round((parseInt(ww) - parseInt(w)) / 2);
	$(this).css({ marginLeft: ml + "px" })
})
</script> 
</div> 
     </div> 
     <a href="home.html" class="back glyphicon glyphicon-menu-left"></a> 
     <div class="product-info-bg add-agency"> 
      <p class="product_info">跟团游 &middot; 风景国旅</p> 
      <p class="product_info_right"> 产品编号：210150333 </p> 
     </div> 
    </div> 
    <div class="basic_info"> 
     <div class="base "> 
      <div class="title">
       &lt;帽儿山1日游&gt;登山 直通车 往返交通 景区大门票 
      </div> 
      <div id="priceInfo" class="priceInfo"> 
       <div class="price ordinary"> 
        <span class="promoCommon"> &nbsp;&nbsp;￥<strong>75</strong></span> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="transport"> 
     <div class="depart-city" id="departure_Choose" data-href="/h5/tours/210150333/City/1102/1102"> 
      <span class="J_departCity">出发地：哈尔滨</span> 
     </div> 
    </div> 
    <div class="contents">  
     <div id="receptionAgency" class="reception-agency"> 
      <div class="agency-name"> 
       <p class="agency">产品品牌<i>&middot;</i><span>哈尔滨</span></p> 
      </div> 
      <div class="agency-description">
        该品牌在黑龙江周边目的地满意度
       <span> 86%</span> ,低于黑龙江周边平均满意度 2.9% 
      </div> 
     </div> 
     <div id="journeyInfo" class="journeyInfo"> 
      <div class="journey-nav"> 
       <div class="bar single" style="top: 0px; z-index: 100; position: static;"> 
        <ul> 
         <li class="xselect">1日行程</li> 
         <li class="">产品特色</li> 
         <li class="">费用说明</li> 
         <li class="">预订须知</li> 
        </ul> 
       </div> 
      </div> 
      <div class="journey-content-nobg" id="xcjs"> 
       <div class="journeys"> 
        <div class="journeys-main" id="J_journeys"> 
         <div class="journeys-dt"> 
          <ul> 
           <li> 
            <div class="journeys-dt-head" id="J_jDay1"> 
             <span class="journeys-dt-head-day">第1天</span> 
             <p class="journeys-dt-head-line"> 哈尔滨 <i class="glyphicon glyphicon-plane"></i> 帽儿山 <i class="glyphicon glyphicon-plane"></i> 哈尔滨 </p> 
            </div> 
            <div class="journeys-dt-container"> 
             <div class="journeys-dt-item"> 
              <div class="dt-item-title"> 
               <i class="dt-icon icon-play-other"></i> 
               <span>交通：</span>
               <p>哈尔滨<i class="dt-icon-traffic icon-link_bus"></i>帽儿山景区</p> 
              </div> 
              <div class="dt-item-content"> 
               <span class="journeys-dt-info"> </span> 
               <div class="dt-item-des"> 
                <div class="J_dtDes dt-item-des-container"> 
                 <div class="J_dtContent dt-item-des-content"> 
                  <b>早06:30左右乘旅游巴士赴帽儿山（约2小时），路途欣赏乡村阔野，感受乡村野外风土人情，青山碧水、层峦叠嶂，兴趣盎然。</b>
                  <p><br /></p> 
                 </div> 
                </div> 
                <div class="J_dtExpand dt-item-des-expand"> 
                 <span class="icon-arrow-down"></span> 
                </div> 
               </div> 
               <div class="journeys-dt-imgs-0"> 
               </div> 
              </div> 
             </div> 
             <div class="journeys-dt-item"> 
              <div class="dt-item-title"> 
               <i class="dt-icon icon-play-attractions"></i> 
               <span>景点：</span>
               <p><a class="J_showDetail" href="javascript:;" data-index="1-0"><b>帽儿山</b></a></p> 
              </div> 
              <div class="dt-item-content"> 
               <div class="dt-item-scenic"> 
                <div class="dt-item-des"> 
                 <div class="J_dtDes dt-item-des-container"> 
                  <div class="J_dtContent dt-item-des-content">
                    帽儿山坐落在尚志市帽儿山镇，位于帽儿山火车站北，阿什河上游，属张广才岭西坡，海拔805米，面积10平方公里。由侏罗纪中酸性火册岩构成，是哈尔滨市附近的最高峰。帽儿山因山峰凸出群山，貌似冠状，传说是神仙的帽子掉落在此而变成山峰，故此得名“帽儿山”。帽儿山镇还有一处古迹，叫太和宫。系清同治七年(1868年)建的道教十方丛林道院，有关帝庙、玉皇殿、娘娘庙、神殿和钟鼓楼。 
                  </div> 
                 </div> 
                 <div class="J_dtExpand dt-item-des-expand" style="display: block;"> 
                  <span class="icon-arrow-down"></span> 
                 </div> 
                </div> 
                <div class="journeys-dt-imgs-4"> 
                 <div class="journeys-dt-pic"> 
                  <img src="img/1.jpg"/> 
                  <p> 帽儿山 </p> 
                 </div> 
                 <div class="journeys-dt-pic"> 
                  <img src="img/1.jpg" /> 
                  <p> 帽儿山 </p> 
                 </div> 
                 <div class="journeys-dt-pic"> 
                  <img src="img/1.jpg"/> 
                  <p> 帽儿山 </p> 
                 </div> 
                 <div class="journeys-dt-pic"> 
                  <img src="img/1.jpg" /> 
                  <p> 帽儿山 </p> 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
             <div class="journeys-dt-item"> 
              <div class="dt-item-title"> 
               <i class="dt-icon icon-play-default"></i>温馨提示 
              </div> 
              <div class="dt-item-content"> 
               <div class="dt-item-des"> 
                <div class="J_dtDes dt-item-des-container"> 
                 <div class="J_dtContent dt-item-des-content"> 
                  <font color="#ff9702">登山时请保持手机畅通以便朋友导游联系。不要私自越野探路。</font> 
                 </div> 
                </div> 
                <div class="J_dtExpand dt-item-des-expand"> 
                 <span class="icon-arrow-down"></span> 
                </div> 
               </div> 
              </div> 
             </div> 
             <div class="journeys-dt-item"> 
              <div class="dt-item-title"> 
               <i class="dt-icon icon-overview_dining"></i> 
               <div class="dt-item-title">
                 早餐 ： 敬请自理 
               </div> 
               <div class="dt-item-title">
                 午餐 ： 敬请自理 
               </div> 
               <div class="dt-item-title">
                 晚餐 ： 敬请自理 
               </div> 
              </div> 
              <div class="dt-item-content"> 
               <span class="journeys-dt-info"> </span> 
               <p class="dt-item-content-title"><a class="" href="javascript:;" data-index="2-0"><b></b></a></p> 
               <div class="dt-item-des"> 
                <div class="J_dtDes dt-item-des-container"> 
                 <div class="J_dtContent dt-item-des-content">
                   不含餐，客人
                  <b>自带林中野餐。</b> 
                 </div> 
                </div> 
                <div class="J_dtExpand dt-item-des-expand"> 
                 <span class="icon-arrow-down"></span> 
                </div> 
               </div> 
               <div class="journeys-dt-imgs-0"> 
               </div> 
              </div> 
             </div> 
             <div class="journeys-dt-item"> 
              <div class="dt-item-title"> 
               <i class="dt-icon icon-play-other"></i> 
               <span>交通：</span>
               <p>帽儿山景区<i class="dt-icon-traffic icon-link_bus"></i>哈尔滨</p> 
              </div> 
              <div class="dt-item-content"> 
               <span class="journeys-dt-info"> </span> 
               <div class="dt-item-des"> 
                <div class="J_dtDes dt-item-des-container"> 
                 <div class="J_dtContent dt-item-des-content"> 
                  <b>15：00左右乘车返程，抵达哈尔滨后散团，结束愉快的旅行</b>。 
                 </div> 
                </div> 
                <div class="J_dtExpand dt-item-des-expand"> 
                 <span class="icon-arrow-down"></span> 
                </div> 
               </div> 
               <div class="journeys-dt-imgs-0"> 
               </div> 
              </div> 
             </div> 
            </div> </li> 
          </ul> 
          <div class="journeys-rm"> 
           <p class="journeys-rm-title"> - 行程附注 - </p> 
           <p class="journeys-rm-addition"> 以上行程仅供参考，最终行程可能会根据实际情况进行微调，敬请以签约行程为准。<br /><br /><b>旅行社或景区工作人员，登山\漂流过程不陪同，请谅解！</b> </p> 
          </div> 
         </div> 
        </div> 
        <div class="journeys-tools" id="J_journeyTools" style="display: none;"> 
         <ul> 
          <li><a class="J_toolList icon-hamburger" style=""></a></li> 
          <li><a class="J_toolTop icon-top2"></a></li> 
         </ul> 
        </div> 
        <div class="journeys-overview" id="J_journeysOverview"> 
         <div class="J_overviewSpace journeys-overview-space"></div> 
         <p class="journeys-overview-title">行程概览</p> 
         <ul> 
          <li></li> 
          <li class="J_overviewContent journeys-overview-content" data-tar="J_jDay1"> <span>D1</span> <p> 哈尔滨 - 帽儿山 - 哈尔滨 </p> </li> 
         </ul> 
        </div> 
        <div class="J_journeysImgView"> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="summary" id="cpts"> 
      <div class="box"> 
       <div class="label">
        产品特色
       </div> 
       <div class="box-list pro-feature"> 
        <section> 
         <header class="pm-recom"> 
          <img src="img/product-manager.png" alt="产品经理" title="产品经理" /> 
          <h4>产品经理推荐</h4> 
         </header> 
         <ul class="pm-recom-main"> 
          <li>帽儿山生态旅游度假区坐落在黑龙江省尚志市帽儿山镇，距哈尔滨市84公里，帽儿山主峰海拔805米，是哈尔滨市周边最高峰。</li> 
         </ul> 
        </section> 
       </div> 
      </div> 
     </div> 
     <div id="fysm" class="costInfo"> 
      <h4>费用包含</h4> 
      <dl> 
       <dt>
        交通
       </dt> 
       <dd>
        当地旅游巴士
       </dd> 
       <dt>
        门票
       </dt> 
       <dd>
        行程中所含的景点首道大门票，具体请参考行程描述。
       </dd> 
       <dt>
        导服
       </dt> 
       <dd>
        全程陪同中文导游，竭诚为您服务。
       </dd> 
       <dt>
        儿童价标准
       </dt> 
       <dd>
        身高0.7~1.2米（含），,只含往返车位、导服，不含门票，产生费用自理。
       </dd> 
       <dt>
        其他
       </dt> 
       <dd>
        景区自由活动时间，导游司机不陪同，建议游客结伴成行。自由活动时应注意自身及小童的安全，以免发生事故。
       </dd> 
      </dl> 
      <h4>费用不包含</h4> 
      <dl> 
       <dt>
        门票
       </dt> 
       <dd>
        行程中注明需要另行支付的自费景点（具体请参考行程描述）。
       </dd> 
       <dt>
        补充
       </dt> 
       <dd>
        当地参加的自费以及以上&quot;费用包含&quot;中不包含的其它项目。
       </dd> 
       <dt>
        旅游意外险
       </dt> 
       <dd>
        旅游人身意外保险
       </dd> 
      </dl> 
     </div> 
     <div class="J_proGuide"> 
     </div> 
     <div id="proRecommend" class="pro-recommend"> 
     </div> 
     <div class="space "></div> 
     <div id="product_footer">
      <div class="product_buttons"> 
       <a href="javascript:void(0)"><i class="glyphicon glyphicon-earphone"></i><span>电话客服</span></a>  
       <a href="pay.html" class="order_product to-order-btn " id="orderButton"><span>购买</span></a> 
      </div> 
      <div class="tel-consult"> 
       <div class="tel-content"> 
        <p>为了节省您的时间，请告知客服此产品的产品编号</p> 
        <p class="tel-proid">产品编号：210150333</p> 
        <a href="tel:4007999999" class="tel-call">拨打客服电话</a> 
        <a href="javascript:void(0)" class="tel-cancel">取消</a> 
       </div> 
      </div>
     </div> 
    </div> 
    <div id="imgListPopup"></div> 
    <div class="downPayment_popup"> 
     <!-- <div class="downPayment_img">		</div> --> 
     <h4>分期说明</h4> 
     <div class="downPayment_title">
      可选期数
      <span>在下单后付款时可选择</span>
     </div> 
     <div class="downPayment_periods"> 
      <ul> 
      </ul> 
     </div> 
     <div class="downPayment_title">
      特色
     </div> 
     <div class="downPayment_feature"> 
      <ul> 
      </ul> 
     </div> 
     <div class="downPayment_title">
      说明
     </div> 
     <div class="downPayment_content"> 
     </div> 
     <div class="downPayment_close"> 
      <span class="icon icon-close"></span> 
     </div> 
    </div> 
    <div class="promotion_popup" id="promotion_popup"> 
     <div class="promotion_title">
      优惠活动
     </div> 
     <ul class="promotion_list"> 
      <li class="promotion_bar"> <p class="promotion_list_title"> <span class="promotion_type">支付优惠</span> <span class="promotion_name">100元现金券随意领</span> </p> 
       <div class="promotion_list_detail"> 
        <p class="promotion_list_detail_row"> <span class="promotion_list_detail_title">参加时间</span> <span class="promotion_list_detail_content">2017年07月11日-2017年12月31日</span> </p> 
        <p class="promotion_list_detail_row"> <span class="promotion_list_detail_title">活动内容</span> <span class="promotion_list_detail_content">1、活动名称：办招行信用卡，领100元现金券 2、活动时间：即日起—2017年12月31日 3、活动对象：招商银行信用卡新户 4、活动城市：全国 5、活动内容：活动期间，通过途牛旅游网专属链接申请办理招商银行信用卡，提交申请资料即可获赠30元上海迪士尼门票优惠券（订单满30元即可立减30元），成功下卡即可获赠途牛100元现金券，用户在途牛旅游网预订指定产品，即可享受订单满100元立减100元优惠（不含保险价格且订单不足100元不能使用现金券）。 6、参与方式app端用户点击：我要办卡 7.活动规则： （1）现金券有效期以实际领取时的提示为准，过期失效，不可转赠，不可提现 （2）活动仅适用于：通过途牛旅游网申请并成功核发招商银行信用卡的新户主卡客户（首次申请招商银行个人信用卡（含整户注销6个月【含】以上））。本活动限每个用户参与一次，如发生退款，则现金券不退还，且不可再使用 （3）礼品领取方式：针对符合领取条件的新户主卡用户，招商银行信用卡中心将在客人申请资料填写完成后，在页面以弹框形式发送30元上海迪士尼门票优惠券，需客人自行绑定到途牛账户；发卡后20个工作日内以短信形式通知，客人需下载并绑定招商银行“掌上生活”App 领取现金券兑换码，用户返回途牛App进行现金券绑定；兑换码掌上生活领取截止时间为2018年2月28日，请在该日期前完成领取及绑定 </span> </p> 
       </div> </li> 
      <li class="promotion_bar"> <p class="promotion_list_title"> <span class="promotion_type">支付优惠</span> <span class="promotion_name">参与途牛&amp;建行“邂逅旅行”活动，100%得话费充值券，更可参与途牛双人游抽奖</span> </p> 
       <div class="promotion_list_detail"> 
        <p class="promotion_list_detail_row"> <span class="promotion_list_detail_title">参加时间</span> <span class="promotion_list_detail_content">2017年07月19日-2017年08月06日</span> </p> 
        <p class="promotion_list_detail_row"> <span class="promotion_list_detail_title">活动内容</span> <span class="promotion_list_detail_content">1、活动地区：全国 2、活动对象：新版建设银行手机银行客户端用户 3、参与流程及规则： 1）打开建行手机银行APP，依次点击“遇见新版邂逅千万豪礼”--“邂逅旅行”。 2）在“邂逅旅行”页面查看活动规则，并点击“立即参与”。 3）选择心仪的产品（国内长线、出境短线、出境长线3种），进入子活动页面支付固定金额。 4）参与成功后，可获得： ①支付金额等额的话费券（100%获得，当期活动开奖后15个工作日内以短信形式发送到参与手机）； ②一次抽奖机会，赢取超低价购买该条线路的资格（1%中奖，开奖结果于当期活动结束5个工作日内公示在此期产品页面）； ③支付金额等额的途牛优惠券（100%获得，当期活动开奖后15个工作日内绑定到参与的途牛账户）。 关注“玩转途牛”微信号，回复“邂逅旅行”了解更多活动具体说明及流程。</span> </p> 
       </div> </li> 
      <li class="promotion_bar"> <p class="promotion_list_title"> <span class="promotion_type">支付优惠</span> <span class="promotion_name">邀好友送任选礼包，每天最高送150元</span> </p> 
       <div class="promotion_list_detail"> 
        <p class="promotion_list_detail_row"> <span class="promotion_list_detail_title">参加时间</span> <span class="promotion_list_detail_content">2017年07月11日-2017年07月31日</span> </p> 
        <p class="promotion_list_detail_row"> <span class="promotion_list_detail_title">活动内容</span> <span class="promotion_list_detail_content"> 【邀好友送任选礼包】7.11-7.31期间，途牛1星及以上会员按照 活动页提示，依次完成报名和邀请好友成功注册，每邀满2人注册即送10元话费，每日最高赠100元。Or 每邀满2人注册即送15元旅游券，每日最高赠150元。（以上奖品在报名时任选，不可同时获得）。若被邀请人完成首单，邀请人还可获得被邀请人首单实际支付金额1%旅游券返利。 同时，被邀请人完成注册，即得20元无敌券和首单出境wifi特权。 以上福利具体说明，请以上述链接里的活动页说明为准。 </span> </p> 
       </div> </li> 
      <li class="promotion_bar"> <p class="promotion_list_title"> <span class="promotion_type">点评返现</span> <span class="promotion_name">点评返现5元，抵用券20元</span> </p> 
       <div class="promotion_list_detail"> 
        <p class="promotion_list_detail_row"> <span class="promotion_list_detail_title">参加时间</span> <span class="promotion_list_detail_content">2017年01月01日-2017年12月31日</span> </p> 
        <p class="promotion_list_detail_row"> <span class="promotion_list_detail_title">活动内容</span> <span class="promotion_list_detail_content">网上预订，出游归来后发表点评，每成人返现5元，抵用券20元；返现上限为实付金额（包括旅游券）的3%；点评后请至会员中心查看账户余额。</span> </p> 
       </div> </li> 
     </ul> 
     <div class="promotion_close"> 
      <span class="icon icon-close"></span> 
     </div> 
    </div> 
   </div> 
  </div> 
  </div> 
 </body>
</html>