<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>home</title>
	<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="commons/css/bootstrap.css" />
	<link rel="stylesheet" href="commons/css/style.css" />
	<link href="commons/css/home.css" rel="stylesheet">
	<script src="commons/js/jquery-1.js"></script>
	<script src="commons/js/jquery_002.js"></script>
	<script src="commons/js/jquery.js"></script>
	<script>
		$.getScript('http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js',function(){ 
			//alert(JSON.stringify(remote_ip_info));
		  	//alert(remote_ip_info.province);//省份   
		  	$('#city').html(remote_ip_info.province);
		});
	</script>
	<script>
		$(function() {
			$(".main_image img").each(function () {
				var ww = $(".main_image").width();
				var w = $(this).width();
				var ml = Math.round((parseInt(ww) - parseInt(w)) / 2);
				$(this).css({ marginLeft: ml + "px" })
			});
			
			$(".main_visual").hover(function() {
				$("#btn_prev,#btn_next").fadeIn()
			}, function() {
				$("#btn_prev,#btn_next").fadeOut()
			});

			$dragBln = false;

			$(".main_image").touchSlider({
				flexible : true,
				speed : 200,
				btn_prev : $("#btn_prev"),
				btn_next : $("#btn_next"),
				paging : $(".flicking_con a"),
				counter : function(e) {
					$(".flicking_con a").removeClass("on").eq(e.current - 1).addClass("on");
				}
			});

			$(".main_image").bind("mousedown", function() {
				$dragBln = false;
			});

			$(".main_image").bind("dragstart", function() {
				$dragBln = true;
			});

			$(".main_image a").click(function() {
				if ($dragBln) {
					return false;
				}
			});

			timer = setInterval(function() {
				$("#btn_next").click();
			}, 5000);

			$(".main_visual").hover(function() {
				clearInterval(timer);
			}, function() {
				timer = setInterval(function() {
					$("#btn_next").click();
				}, 5000);
			});

			$(".main_image").bind("touchstart", function() {
				clearInterval(timer);
			}).bind("touchend", function() {
				timer = setInterval(function() {
					$("#btn_next").click();
				}, 5000);
			});
		});
	</script>
</head>
<body>
	<header class="m_header sticky_head" id="J_header"
		style="width: 100%; top: 0px; margin-top: 0px; position: fixed;">
		<div class="m_header_bar J_header-bar">
			<div class="mhb_left">
				 <div class="logo"><img th:src="'/soft/upload/file/' + ${config.filepath}" src="img/11.png" width="30" height="30"></div> 
				<a class="city" id="city" href="javascript:;">哈尔滨</a>
			</div>
			<div class="mhb_center">
				<div class="search_holder J_hs-holder">
					<i class="glyphicon glyphicon-search" onclick="_search()"></i> <input class="in_ppt" id="search" value=""/>
				</div>
			</div>
			<div class="mhb_right">
				<a class="account" href="/me.html"><i
					class="glyphicon glyphicon-user"></i></a>
<!-- 				<div class="navi J_header-navi-trigger">导航</div> -->
			</div>
		</div>
	</header>
	<div class="top-sections">
		<!-- 轮播 -->
		<div class="main_visual">
			<div class="flicking_con">
				<a th:each="item,stat : ${banners}" 
					th:class="${stat.count == 1 ? 'on' : ''}" href="#@"
					th:text="${stat.count}">1</a>
			</div>
			<div class="main_image">
				<ul>
					<li th:each="item,stat : ${banners}">
						<a href="https://baidu.com"><img th:src="'/soft/upload/file/' + ${item.filepath}"></a>
					</li>
				</ul>
			</div>
		</div>

		<!-- 分类 -->
		<section class="i-category-entry"> 
     <table class="list-style-3 marginb_0"> 
      <tbody>    
      </tbody>
     </table> 
     <table class="list-style-2">
       <tbody>
         <tr>
           <td class="hasImg color_red" rowspan="2">
             <a href="my/addMy.html"><span class="word color_red">私人定制</span>
       <img class="category-img" src="../commons/img/sirendz.png">
             </a>
           </td>
           <td class="hasImg color_red">
            <a href="product/list.html?id=3" > <span class="word color_red">出国旅游</span></a>
           </td>
           <td class="hasImg color_red">
             <a href="product/list.html?id=2"> <span class="word color_red">长途出游</span></a>
            </td>                     
         </tr>
         <tr>
              <td class="hasImg color_red"><a href="product/list.html?id=1"> <span class="word color_red">短途出游</span></a>
              </td>
          <td class="hasImg color_red"> <a href="automobile/addAutomobile.html"> <span class="word color_red">直通车</span></a>
          </td>                      
          </tr>
                        
                    </tbody></table>
                    
        <table class="list-style-2">
       <tbody>
         <tr>
           <td class="hasImg" rowspan="">
             <a href="hotel/addHotel.html"><span class="word">酒店</span><img class="category-img" src="../commons/img/1499221905_79016.png"></a>
           </td>
           <td class="hasImg">
            <a href="ticket/list.html" > <span class="word"><img src="../commons/img/menpiao.png" width="20px" style="padding-right: 10px;">门票</span></a>
           </td>
           <td class="hasImg">
            <a href='javascript:alert("敬请期待")'> <span class="word"><img src="../commons/img/shequ.png" width="20px" style="padding-right:5px;">加入社区</span></a>
            </td>                     
         </tr>
                        
                    </tbody></table>
        
        
        
                    
        
     <table class="list-style-3 marginb_0"> 
      <tbody>
       <tr> 
        <td class="hasImg"> <a href="aircraft/addAircraft.html"><img src="../commons/img/1499221239_91608.png" width="20px" style="padding-right: 10px;"><span class="word">机票</span> </a> </td> 
        <td class="hasImg"> <a href="train/addTrain.html"><img src="../commons/img/1493714602_44372.png" width="20px" style="padding-right: 10px;"><span class="word">火车票</span></a> </td> 
        <td class="hasImg "> <a href="visa/addVisa.html"> <img src="../commons/img/1490347121_64791.png" width="20px" style="padding-right: 10px;"><span class="word">签证</span></a> </td> 
       </tr> 
      </tbody>
     </table>
    </section>
	</div>

	<!-- 推荐 -->
	<section class="i-floor J_product_rec i-products">
		<ul class="list-block J_product-list">
			<li class="i-m-product-item" th:each="item : ${products}">
				<a th:href="'product/detail.html?product_id=' + ${item.product_id}" href="product/detail.html?product_id=">
					<div class="item-top">
						<div class="product-image">
							<img src="commons/img/1.jpg" th:src="'/soft/upload/file/' + ${item.filepath}" />
							<div class="image-gra"></div>
						</div>
						<div class="sati-peo">
							<div class="peo">新品上线</div>
						</div>
						<div class="product-extra">
							<span class="icon icon-tours"></span>
							<span th:text="${item.type_name}">短途出游</span>
						</div>
						<div class="product-price price-schema-1">
							<div class="product-price-now noPro">
								￥ <em th:text="${item.product_price}">1200</em>
							</div>
						</div>
					</div>
					<div class="item-bottom">
						<h5 class="product-title" th:text="${item.product_name}">帽儿山位于阿什河上游，距离哈尔滨市84公里，距尚志市尚志镇45公里。</h5>
						<p class="product-describe" th:utext="${item.feature}">2人起接独立发班，无购物，天天发团</p>
					</div>
				</a>
			</li>
		</ul>
	</section>
	<section class="i-slogan">
		<div class="slogan-text">
			<span>幸福在路上</span>
		</div>
	</section>
	<footer id="footerID" style="padding-bottom: 10px;">
		<div class="footer-container">
			<ul class="footer-image-section">
				<li>
					<a href="/me.html">
						<div>
							<img src="commons/img/Cii9EFd2EnyIbZL3AAAGJflP3TcAABgSwP_-cMAAAY9010.png" />
						</div>
						<p>我的订单</p>
					</a>
				</li>
				<li>
					<a href="/home.html">
						<div>
							<img src="commons/img/Cii9EFd2EnyIRGXJAAAG7hicC8gAAGXrgP_-PUAAAcL346.png" />
						</div>
						<p>回到首页</p>
					</a>
				</li>
			</ul>

			<div class="footer-user-info" id="footer">
				<a href="login.html">登录</a>
				<p class="sp">|</p>
				<a href="register.html">注册</a>
			</div>
			<div class="footer-icp" th:text="${config.company}">哈尔滨有限公司 | 哈尔滨有限公司</div>
		</div>
	</footer>  
  	 <script type="text/javascript" src="../commons/js/cookie.js"></script>
	 <script>
		 $(document).ready(function(){
	         if(getCookie('id') != null && getCookie('id') != "") {
	        	$('#footer').hide();
	         }
		})
	 </script> 
	<script>
		function _search(){
			window.location.href="product/list.html?product_name=" + $('#search').val();
		} 
	</script>
</body>
</html>