<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="commons/css/bootstrap.css" />
<link rel="stylesheet" href="commons/css/style.css" />
</head>
<body style="background-color: #fff">
	<div class="page-wrap" id="index">
		<div id="index1" class="step1 page">
			<header class="border-bottom">
				<a href="home.html">
					<div class="close-btn historyBack">
						<i class="glyphicon glyphicon-menu-left"></i>
					</div>
				</a>
				<h1>登录</h1>
				<div class="form">
					<!-- 手机号码 -->
					<div class="form-group username">
						<input type="tel" name="tel" id="tel" class="border-bottom"
							placeholder="请输入手机号">
					</div>
					<div class="form-group username">
						<input type="password" name="pass" id="pass" class="border-bottom"
							placeholder="请输入密码">
					</div>
					<!-- 注册邀请码 -->
					<a href="javascript:" class="submit-btn disabled" onclick="sub(this)">登录 </a>
				</div>
			</header>
		</div>
	</div>
	<script type="text/javascript" src="commons/js/jquery-1.js"></script>
	<script type="text/javascript" src="commons/js/cookie.js"></script>
	<script type="text/javascript" src="commons/js/base64.js"></script>
	<script>
		function sub(obj) {
	  		$(obj).attr("disabled", true); 
			var tel = $('#tel').val();
			var pass = $('#pass').val();
// 			alert(tel);
			if(tel == null || tel == "") {
				alert("手机号不可以为空");
				return;
			}
			if(pass == null || pass == "") {
				alert("密码不可以为空");
				return;
			}
			var json = {"mobile":tel, "password":pass};
			send(json, obj);
		}
		
		// ajax请求后台
	  	function send(json, obj) {
	  		$.ajax({
			    url:"login.html",    //请求的url地址
			    dataType:"json",   //返回格式为json
			    data: json,    //参数值
			    type:"post",   //请求方式
			    success:function(data){
			        //请求成功时处理
			        if(data.code == 0) {
			        	alert("用戶名或手機號錯誤");
			        } else {
			        	var b = new Base64();
			        	delCookie('id');
			        	// 添加cookie
			        	setCookie('id', b.encode(data.code.toString()), 30); // 一個月有效期
// 			        	alert(getCookie('id'));
			        }
			  		$(obj).attr("disabled", false); 
			    },
			    error:function(XMLHttpRequest, textStatus, errorThrown) {
			        //请求出错处理
					alert("添加失败");
			  		$(obj).attr("disabled", false); 
			    }
			});
	  	}
	</script>
</body>
</html>