<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>home</title> 
  <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="css/bootstrap.css" /> 
  <link rel="stylesheet" href="css/style.css" />  
 <link rel="stylesheet" href="css/me.css" />  
 </head> 
 <body> 

     <header class="m_header  sticky_head" id="J_header" style="width:100%;">
            <div class="m_header_bar J_header-bar">
                <div class="mhb_left">
                    <a class="go_to_home" href="home.html"><i class="glyphicon glyphicon-home"></i></a>
                    
                </div>
                <div class="mhb_center mhb_center_across">
                    <h2 class="">会员中心</h2>
                </div>
                <div class="mhb_right">
                    <a class="account" href="me.html" ><i class="glyphicon glyphicon-user"></i></a>
                    <div class="navi J_header-navi-trigger">导航</div>
                </div>
                
            </div>
        </header>


<div>
    <header id="center-header">
        <a href="longin.html">
            <img id="user-logo" src="img/avatar.png">
        </a>
        <span id="nickname">
            <!---->
            <a id="login" href="longin.html">
                登录/注册
            </a>
            <!---->
        </span>
        <a href="longin.html">
            <img src="img/Cii_Lllcmo2ISzFqAAAUFDK4JroAACnEQJFY2wAABQs740.png"
            alt="" id="recommend">
        </a>
    </header>
       <!--
    <div id="my-order">
        <div class="my-order-header">
            <a href="">
                <h2 class="title" >
                    我的订单
                </h2>
            </a>
        </div>
     
        <div class="my-order-bottom">
            <div>
                <a href="">
                    <img src="img/Cii_LllA_eGITjzNAAAGWpnf_V8AAAAXQP_-WYAAAaa423.png" alt="">
                </a>
                <p>
                    待付款
                </p>
            </div>
            <div>
                <a href="order.html">
                    <img src="img/Cii_NllA_eKIS35bAAAHd83JslEAAAN7QP_-HEAAAeP849.png" >
                </a>
                <p>
                    我的门票
                </p>
            </div>
        </div>

        -->
    </div>

    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="">
                <h2 class="title">
                    我的余额：0.00元
                </h2>
                <a href="mayn.html" class="fr">充值</a>
            </a>
        </div>
        <!---->
    </div>
     <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="order.html">
                <h2 class="title">
                    我的旅游线路
                </h2>
                <img src="img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
        <!---->
    </div>
    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="order_e.html">
                <h2 class="title">
                    我的门票
                </h2>
                <img src="img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
        <!---->
    </div>
    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="me_train.html">
                <h2 class="title">
                    我的火车票
                </h2>
                <img src="img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
        <!---->
    </div>
    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="aircraft_e.html">
                <h2 class="title2">
                    我的机票
                </h2>
                <img src="img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
        <!---->
    </div>
    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="visa_e.html">
                <h2 class="title">
                    我的签证
                </h2>
                <img src="img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
        <!---->
    </div>
    
    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="my.html">
                <h2 class="title">
                    私人定制
                </h2>
                <img src="img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
        <!---->
    </div>
</div>



   <section class="i-slogan"> 
    <div class="slogan-text"> 
     <span>让旅游更简单</span> 
    </div> 
   </section> 
  <a href="javascript:;" class="to-top J_toTop hidden"></a> 
  <a class="33996"></a> 
  <footer id="footerID" style="padding-bottom:10px;">
   <div class="footer-container">
    <ul class="footer-image-section">
     <li><a href="javascript:;" >
       <div>
        <img src="img/Cii9EFd2EnyIbZL3AAAGJflP3TcAABgSwP_-cMAAAY9010.png" />
       </div><p>我的订单</p></a></li>
     <li><a href="javascript:;" >
       <div>
        <img src="img/Cii9EFd2EnyIRGXJAAAG7hicC8gAAGXrgP_-PUAAAcL346.png" />
       </div><p>回到首页</p></a></li>
    </ul>
    
    <div class="footer-user-info">
     <a href="sign.html">登录</a>
     <p class="sp">|</p>
     <a href="longin.html">注册</a>
    </div>
    <div class="footer-icp">
      哈尔滨有限公司 | 哈尔滨有限公司
    </div>
   </div>
  </footer>   
 </body>
</html>