<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>home</title> 
  <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="../commons/css/bootstrap.css" /> 
  <link rel="stylesheet" href="../commons/css/style.css" />  
 <link rel="stylesheet" href="../commons/css/me.css" />  
 </head> 
 <body> 

     <header class="m_header  sticky_head" id="J_header" style="width:100%;">
            <div class="m_header_bar J_header-bar">
                <div class="mhb_left">
                    <a class="go_to_home" href="/home.html"><i class="glyphicon glyphicon-home"></i></a>
                    
                </div>
                <div class="mhb_center mhb_center_across">
                    <h2 class="">会员中心</h2>
                </div>
                <div class="mhb_right">
                    <a class="account" href="/me.html" ><i class="glyphicon glyphicon-user"></i></a>
                    <div class="navi J_header-navi-trigger">导航</div>
                </div>
                
            </div>
        </header>


<div>
    <header id="center-header">
        <a href="/home.html">
            <img id="user-logo" src="../commons/img/avatar.png">
        </a>
        
        <span id="nickname" th:utext="${userName == '1'} ? '<a id=login href=login.html>登录/注册 </a>' : ${userName}">
            
        </span>
        <a href="/home.html">
            <img src="../commons/img/Cii_Lllcmo2ISzFqAAAUFDK4JroAACnEQJFY2wAABQs740.png"
            alt="" id="recommend">
        </a>
    </header>
    </div>

    <!-- <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="">
                <h2 class="title">
                    我的余额：0.00元
                </h2>
                <a href="mayn.html" class="fr">充值</a>
            </a>
        </div>
    </div>
     <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="order.html">
                <h2 class="title">
                    我的旅游线路
                </h2>
                <img src="../commons/img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
    </div>
    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="order_e.html">
                <h2 class="title">
                    我的门票
                </h2>
                <img src="../commons/img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
    </div> -->
    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="train/list.html">
                <h2 class="title">
                    我的火车票
                </h2>
                <img src="../commons/img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
    </div>
    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="aircraft/list.html">
                <h2 class="title2">
                    我的机票
                </h2>
                <img src="../commons/img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
    </div>
    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="visa/list.html">
                <h2 class="title">
                    我的签证
                </h2>
                <img src="../commons/img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
    </div>
    
    <div id="my-wallet">
        <div class="my-wallet-header">
            <a href="my/list.html">
                <h2 class="title">
                    私人定制
                </h2>
                <img src="../commons/img/Cii_JVlCKWiIMyNAAAAG_RNbuYIAAAEHQP_-OoAAAcW655_w640_h0_c0_t0.png">
            </a>
        </div>
    </div>
</div>



   <section class="i-slogan"> 
    <div class="slogan-text"> 
     <span>让旅游更简单</span> 
    </div> 
   </section> 
  <a href="javascript:;" class="to-top J_toTop hidden"></a> 
  <a class="33996"></a> 
  <footer id="footerID" style="padding-bottom:10px;">
   <div class="footer-container">
    <ul class="footer-image-section">
     <li><a href="/me.html" >
       <div>
        <img src="../commons/img/Cii9EFd2EnyIbZL3AAAGJflP3TcAABgSwP_-cMAAAY9010.png" />
       </div><p>我的订单</p></a></li>
     <li><a href="/home.html" >
       <div>
        <img src="../commons/img/Cii9EFd2EnyIRGXJAAAG7hicC8gAAGXrgP_-PUAAAcL346.png" />
       </div><p>回到首页</p></a></li>
    </ul>
    
    <div class="footer-user-info" id="footer">
     <a href="/login.html">登录</a>
     <p class="sp">|</p>
     <a href="/register.html">注册</a>
    </div>
    <div class="footer-icp" th:text="${config.company}">
      哈尔滨有限公司 | 哈尔滨有限公司
    </div>
   </div>
  </footer>   
	<script type="text/javascript" src="commons/js/jquery-1.js"></script>
  	 <script type="text/javascript" src="../commons/js/cookie.js"></script>
	 <script>
		 $(document).ready(function(){
	         if(getCookie('id') != null && getCookie('id') != "") {
	        	$('#footer').hide();
	         }
		})
	 </script>   
 </body>
</html>