<!DOCTYPE html>

<html lang="en">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <head>
  <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="css/bootstrap.css" /> 
  <link rel="stylesheet" href="css/style.css" />  
  <link rel="stylesheet" href="css/oder.css" />  
    </head>
    <body>
        
        <div class="wrapper no_padding">
            <div>
    <header>
        <span class="header-back">
            <i class="glyphicon glyphicon-chevron-left">
            </i>
        </span>
        <p>
             我的门票
        </p>
    </header>
    <div class="content">
       
        <section>
            <div id="410068706" class="order-item">
                <section class="item-header">
                    <span class="productName">
                        <i class="glyphicon glyphicon-flag color_green"></i>
                        <span>
                            门票
                        </span>
                    </span>
                    <span class="orderId">
                        410068706
                    </span>
                    <span class="statue cancel color_red">
                       预定成功
                    </span>
                </section>
                <section class="item-body">
                    <div class="body-left">
                        <div>
                            <p class="item-title">
                                <span>
                                    &lt;万达滑雪&gt;
                                </span>
                                <!---->
                            </p>
                            <p class="item-subTitle">
                                2015-11-25&nbsp;&nbsp;&nbsp;10张
                            </p>
                        </div>
                    </div>
                    <div class="body-right">
                        <!---->
                    </div>
                </section>
                <section class="item-footer">
                    <ul>
                        <!---->
                        <!---->
                        <li>
                            <!---->
                            <span data="410068706" class="btn del-btn">
                                删除
                            </span>
                        </li>
                    </ul>
                </section>
            </div>
            <div id="410068706" class="order-item">
                <section class="item-header">
                    <span class="productName">
                        <i class="glyphicon glyphicon-flag color_green"></i>
                        <span>
                            门票
                        </span>
                    </span>
                    <span class="orderId">
                        410068706
                    </span>
                    <span class="statue cancel color_red">
                       预定失败
                    </span>
                </section>
                <section class="item-body">
                    <div class="body-left">
                        <div>
                            <p class="item-title">
                                <span>
                                    &lt;万达滑雪&gt;
                                </span>
                                <!---->
                            </p>
                            <p class="item-subTitle">
                                2015-11-25&nbsp;&nbsp;&nbsp;10张
                            </p>
                        </div>
                    </div>
                    <div class="body-right">
                        <!---->
                    </div>
                </section>
                <section class="item-footer">
                    <ul>
                        <!---->
                        <!---->
                        <li>
                            <!---->
                            <span data="410068706" class="btn del-btn">
                                删除
                            </span>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
        
    </div>
    
</div>

        </div>
    </body>
</html>
