<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>购买</title> 
  <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="css/bootstrap.css" /> 
  <link rel="stylesheet" href="css/style.css" />  
  <link rel="stylesheet" href="css/train.css" /> 
     <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js" ></script>
     
<script>
$(document).ready(function(){
  $("#btn2").click(function(){
    $("#t_re").append("<li id='touristContent'><div><div class='adult-div'><div class='tab-content adult' ><div class='del' id='del'><i class='glyphicon glyphicon-minus'></i></div><div class='content'><div class='row adultNameput'><span class='xi_xi'>成人票</span><span><input placeholder='乘客姓名 type=text class=name adult-put name=name value=></span></div><div class=row adultNameput><span class=xi_xi>身份证</span><span><input placeholder=身份证号 type=text class=name adult-put name=name value=></span></div></div></div></div></div></li>");
  });
});
</script>
     <script type="text/javascript">
$(document).ready(function(){
  $("#del").click(function(){
    $("#touristContent").remove();
  });
});
</script>   
 </head> 
 <body> 

     <header class="m_header  sticky_head" id="J_header" style="width:100%;">
            <div class="m_header_bar J_header-bar">
                <div class="mhb_left">
                    <a class="go_to_home" href="/home.html"><i class="glyphicon glyphicon-home"></i></a>
                    
                </div>
                <div class="mhb_center mhb_center_across">
                    <h2 class="">路线</h2>
                </div>
                <div class="mhb_right">
                    <a class="account" href="me.html" ><i class="glyphicon glyphicon-user"></i></a>
                    <div class="navi J_header-navi-trigger">导航</div>
                </div>
                
            </div>
        </header>

     <!--piao-->

     <div id="mainpage">
    <div class="departdate-wrap">
        <div class="departText">人数</div>
        <div class="date1">
            <span class="mad"><input placeholder="请输入" style="width: 80px;" type="text" class="name adult-put" name="name" value=""></span><span>人</span>

        </div>
    </div>
    <!--电话-->
    <div class="departdate-wrap">
        <div class="departText"> 电话 <input placeholder="联系人电话" type="text" class="name adult-put" name="name" value=""></div>
        
    </div>
         


    <div class="btn"><a href="javascript:void(0);" class="search-btn">提交</a></div>

    
   
    <div class="footer">
        <div class="service_num">
            <span><img src="img/phone.png" alt="" class="serv_phone"></span>
            <a href="tel:13456789" id="tel">客服电话</a>
        </div>
        <div class="my_order">
            <span><img src="img/order_img.png" alt="" class="serv_order"></span>
            <span class="my_orderd">我的订单</span>
        </div>
    </div>
</div>

   <section class="i-slogan"> 
    <div class="slogan-text"> 
     <span>幸福在路上</span> 
    </div> 
   </section> 
  <a href="javascript:;" class="to-top J_toTop hidden"></a> 
  <a class="33996"></a> 
  <footer id="footerID" style="padding-bottom:10px;">
   <div class="footer-container">
    <ul class="footer-image-section">
     <li><a href="javascript:;" >
       <div>
        <img src="img/Cii9EFd2EnyIbZL3AAAGJflP3TcAABgSwP_-cMAAAY9010.png" />
       </div><p>我的订单</p></a></li>
     <li><a href="javascript:;" >
       <div>
        <img src="img/Cii9EFd2EnyIRGXJAAAG7hicC8gAAGXrgP_-PUAAAcL346.png" />
       </div><p>回到首页</p></a></li>
    </ul>
    
    <div class="footer-user-info">
     <a href="sign.html">登录</a>
     <p class="sp">|</p>
     <a href="longin.html">注册</a>
    </div>
    <div class="footer-icp" th:text="${config.company}">
      哈尔滨有限公司 | 哈尔滨有限公司
    </div>
   </div>
  </footer>   
     
 </body>
</html>