<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="../commons/css/bootstrap.css" />
<link rel="stylesheet" href="../commons/css/style.css" />
<link href="../commons/css/home.css" rel="stylesheet">
<link href="../commons/css/list.css" rel="stylesheet">
<script src="../commons/js/jquery-1.js"></script>
<script src="../commons/js/jquery_002.js"></script>
<script src="../commons/js/jquery.js"></script>
<!-- <script src="../commons/js/com.js"></script> -->
</head>
<body>

	<header class="m_header" id="J_header">
		<div class="m_header_bar J_header-bar">
			<div class="mhb_left">
				<a class="go_to_home" href="/home.html"><i
					class="glyphicon glyphicon-chevron-left"></i></a>
			</div>
			<div class="mhb_center"> 
     <div class="search_holder J_hs-holder">
      <i class="glyphicon glyphicon-search" onclick="_search()"></i>
       <input class="in_ppt" id="search" value=""/>
     </div> 
    </div>
			<div class="mhb_right">
				<a class="account" href="/me.html"><i
					class="glyphicon glyphicon-user"></i></a>

				<div class="navi J_header-navi-trigger">导航</div>
			</div>
		</div>
	</header>
	<div class="search_result" id="box">
		

		<div class="result">
			<div class="add"></div>
			<div id="hasResult" style="display: block;">
				<ul th:each="item,stat : ${list}"  id="result" style="margin-top: 0px;">
					<a  th:href="'detail.html?product_id=' + ${item.product_id}">
                    <li class="tour">
                    <div class="img">
						<img src="../commons/img/ya.jpg" th:src="'/soft/upload/file/' + ${item.filepath}">
					</div>
				    <div class="main-dess">
								<div class="title" th:text="${item.product_name}">&lt;哈尔滨-亚布力滑雪-雪乡3日游&gt;撒野之旅</div>
								<div class="text_info"></div>
<!-- 								<div class="icon"> -->
<!-- 									<span class="label topic-txt" style="color:#2DBB55">激情滑雪</span><span -->
<!-- 										class="label topic-txt" style="color:#2DBB55">运动</span><span -->
<!-- 										class="label topic-txt" style="color:#2DBB55">美食、美景</span> -->
<!-- 								</div> -->
<!-- 								<div class="tuanqi-box"> -->
<!-- 									<span class="supply box_add"><i -->
<!-- 										class="sicon sicon-supply"></i><span class="label">捷旅天下</span></span><span -->
<!-- 										class="box_add"><i class="sicon sicon-group"></i><span -->
<!-- 										class="plan_dates">团期：01/10、01/13、01/17、01/20</span></span> -->
<!-- 								</div> -->
								<div class="advanced_info">
									<div class="basic_info">
										<span class="people">新品上线</span>
									</div>
									<div class="price">
										<span>¥<strong th:text="${item.product_price}">640</strong></span>
									</div>
								</div>
							</div>
                    </li>
                    </a>
				</ul>
			</div>
		</div>
	</div>
	<a href="javascript:;" class="to-top J_toTop hidden"></a>
	<a class="33996"></a>
	<footer id="footerID" style="padding-bottom:10px;">
		<div class="footer-container">
			<ul class="footer-image-section">
				<li><a href="javascript:;">
						<div>
							<img src="../commons/img/Cii9EFd2EnyIbZL3AAAGJflP3TcAABgSwP_-cMAAAY9010.png" />
						</div>
						<p>我的订单</p>
				</a></li>
				<li><a href="javascript:;">
						<div>
							<img src="../commons/img/Cii9EFd2EnyIRGXJAAAG7hicC8gAAGXrgP_-PUAAAcL346.png" />
						</div>
						<p>回到首页</p>
				</a></li>
			</ul>

			<div class="footer-user-info" id="footer">
				<a href="/login.html">登录</a>
				<p class="sp">|</p>
				<a href="/register.html">注册</a>
			</div>
			<div class="footer-icp" th:text="${config.company}">哈尔滨有限公司 | 哈尔滨有限公司</div>
		</div>
	</footer>
	<script type="text/javascript" src="../commons/js/cookie.js"></script>
	<script>
	
		 $(document).ready(function(){
	         if(getCookie('id') != null && getCookie('id') != "") {
	        	$('#footer').hide();
	         }
		})
		 
		function _search(){
			window.location.href="/product/list.html?product_name=" + $('#search').val();
		} 
	</script>
</body>
</html>