<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title></title> 
  <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="css/bootstrap.css" /> 
  <link rel="stylesheet" href="css/style.css" />  
 </head> 
 <body style="background-color: #fff"> 
     <div class="page-wrap" id="index">
    <div id="index1" class="step1 page">
        <header class="border-bottom">
            <a href="home.html">
                <div class="close-btn historyBack">
                  <i class="glyphicon glyphicon-menu-left"></i>
                </div>
            </a>
            <h1>注册</h1>

            <div class="form">
				<!-- 用户名 -->
				<div class="form-group username">
                    <input type="text" name="userName" id="userName" class="border-bottom" placeholder="请输入用户名">
                </div>
                <!-- 手机号码 -->
                <div class="form-group username">
                    <input type="tel" name="tel" id="tel" class="border-bottom" placeholder="请输入手机号">
                </div>
                <div class="form-group username">
                    <input type="password" name="pass" id="pass" class="border-bottom" placeholder="请输入密码">
                </div>
				<div class="form-group username">
                    <input type="password" name="surePass" id="surePass" class="border-bottom" placeholder="确认密码">
                </div>
                 <!-- 注册邀请码 -->
                 <div class="form-group username">
                    <input type="text" name="invitationCode" id="invitationCode" class="border-bottom" placeholder="邀请码">
                </div>
                <a href="javascript:" class="submit-btn disabled">
                    注册
                </a>
            </div>
            </header>
    </div>
  
</div>
 </body>
</html>