<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>门票</title>
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/style.css" />
<link href="css/home.css" rel="stylesheet">
<link href="css/ticket.css" rel="stylesheet">
</head>
<body>

	<header class="m_header   " id="J_header">
		<div class="m_header_bar J_header-bar">
			<div class="mhb_left">
				<a class="go_to_home" href="home.html"><i
					class="glyphicon glyphicon-chevron-left"></i></a>
			</div>
			<div class="mhb_center"> 
     <div class="search_holder J_hs-holder">
      <i class="glyphicon glyphicon-search"></i>
       <input class="in_ppt"/>
     </div> 
    </div>
			<div class="mhb_right">
				<a class="account" href="me.html"><i
					class="glyphicon glyphicon-user"></i></a>

				<div class="navi J_header-navi-trigger">导航</div>
			</div>
		</div>
	</header>
	<div class="search_result" id="box">
		<section class="i-floor J_product_rec i-products" style="margin: 0">  
    <ul class="list-block J_product-list">
     <li class="i-m-product-item"><a href="ticket_le.html">
       <div class="item-top">
        <div class="product-image">
         <img src="img/1321.jpg" height="100%">
         <div class="image-gra"></div>
        </div>
        <div class="product-extra">
         <span>门票</span>
        </div>
        <div class="product-price price-schema-1">
         <div class="product-price-now noPro">
          ￥
          <em>1200</em>元
         </div>
        </div>
       </div>
       <div class="item-bottom">
        <h5 class="product-title">英杰温泉小镇</h5>
       </div></a></li>
     <li class="i-m-product-item"><a href="ticket_le.html">
       <div class="item-top">
        <div class="product-image">
         <img src="img/1321.jpg" height="100%">
         <div class="image-gra"></div>
        </div>
        <div class="product-extra">
         <span>门票</span>
        </div>
        <div class="product-price price-schema-1">
         <div class="product-price-now noPro">
          ￥
          <em>1200</em>元
         </div>
        </div>
       </div>
       <div class="item-bottom">
        <h5 class="product-title">英杰温泉小镇</h5>
       </div></a></li>
        <li class="i-m-product-item"><a href="ticket_le.html">
       <div class="item-top">
        <div class="product-image">
         <img src="img/1321.jpg" height="100%">
         <div class="image-gra"></div>
        </div>
        <div class="product-extra">
         <span>门票</span>
        </div>
        <div class="product-price price-schema-1">
         <div class="product-price-now noPro">
          ￥
          <em>1200</em>元
         </div>
        </div>
       </div>
       <div class="item-bottom">
        <h5 class="product-title">英杰温泉小镇</h5>
       </div></a></li>
        <li class="i-m-product-item"><a href="ticket_le.html">
       <div class="item-top">
        <div class="product-image">
         <img src="img/1321.jpg" height="100%">
         <div class="image-gra"></div>
        </div>
        <div class="product-extra">
         <span>门票</span>
        </div>
        <div class="product-price price-schema-1">
         <div class="product-price-now noPro">
          ￥
          <em>1200</em>元
         </div>
        </div>
       </div>
       <div class="item-bottom">
        <h5 class="product-title">英杰温泉小镇</h5>
       </div></a></li>
        <li class="i-m-product-item"><a href="ticket_le.html">
       <div class="item-top">
        <div class="product-image">
         <img src="img/1321.jpg" height="100%">
         <div class="image-gra"></div>
        </div>
        <div class="product-extra">
         <span>门票</span>
        </div>
        <div class="product-price price-schema-1">
         <div class="product-price-now noPro">
          ￥
          <em>1200</em>元
         </div>
        </div>
       </div>
       <div class="item-bottom">
        <h5 class="product-title">英杰温泉小镇</h5>
       </div></a></li>
        <li class="i-m-product-item"><a href="ticket_le.html">
       <div class="item-top">
        <div class="product-image">
         <img src="img/1321.jpg" height="100%">
         <div class="image-gra"></div>
        </div>
        <div class="product-extra">
         <span>门票</span>
        </div>
        <div class="product-price price-schema-1">
         <div class="product-price-now noPro">
          ￥
          <em>1200</em>元
         </div>
        </div>
       </div>
       <div class="item-bottom">
        <h5 class="product-title">英杰温泉小镇</h5>
       </div></a></li>
        <li class="i-m-product-item"><a href="ticket_le.html">
       <div class="item-top">
        <div class="product-image">
         <img src="img/1321.jpg" height="100%">
         <div class="image-gra"></div>
        </div>
        <div class="product-extra">
         <span>门票</span>
        </div>
        <div class="product-price price-schema-1">
         <div class="product-price-now noPro">
          ￥
          <em>1200</em>元
         </div>
        </div>
       </div>
       <div class="item-bottom">
        <h5 class="product-title">英杰温泉小镇</h5>
       </div></a></li>

    </ul> 
   </section>



		
       
	</div>
	<a href="javascript:;" class="to-top J_toTop hidden"></a>
	<a class="33996"></a>
	<footer id="footerID" style="padding-bottom:10px;">
		<div class="footer-container">
			<ul class="footer-image-section">
				<li><a href="javascript:;">
						<div>
							<img src="img/Cii9EFd2EnyIbZL3AAAGJflP3TcAABgSwP_-cMAAAY9010.png" />
						</div>
						<p>我的订单</p>
				</a></li>
				<li><a href="javascript:;">
						<div>
							<img src="img/Cii9EFd2EnyIRGXJAAAG7hicC8gAAGXrgP_-PUAAAcL346.png" />
						</div>
						<p>回到首页</p>
				</a></li>
			</ul>

			<div class="footer-user-info">
				<a href="sign.html">登录</a>
				<p class="sp">|</p>
				<a href="longin.html">注册</a>
			</div>
			<div class="footer-icp">哈尔滨有限公司 | 哈尔滨有限公司</div>
		</div>
	</footer>
</body>
</html>